.add-liquidity {
  background: linear-gradient(58.88deg, #2082E9 -1.8%, #9900FF 89.9%);
  border-radius: 17px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.app-body {
  background: #1E202A;
  border-radius: 20px;
}

.app-container {
  background: #222430;
  border-radius: 20px;
  padding: 20px;
}